


    <nav class="navbar navbar-default navbar-fixed-top navbar-inverse"  role="navigation">
        <div class="container">
            <div class="navbar-header">
                <a class="navbar-brand" href="/"><span class="glyphicon glyphicon-home"></span> HOME</a>
            </div>
            <ul class="nav navbar-nav navbar-right">
              {{#if user}}
                    <li>&nbsp;&nbsp;
                     {{#if user.avatar}}
                     <img class="avatar" src="{{user.avatar}}" />
                     {{else}}
                     <span class="glyphicon glyphicon-user"></span>
                     {{/if}}
                     WELCOME {{user.name}}</li>
                    <li><a href="/account_management"><span class="glyphicon glyphicon-log-in"></span> EDIT</a></li>
                    <li><a href="/logout"><span class="glyphicon glyphicon-log-in"></span> LOGOUT</a></li>
              {{else}}
                    <li><a href="/newAccount"><span class="glyphicon glyphicon-user"></span> REGISTER</a></li>
                    <li><a href="/login"><span class="glyphicon glyphicon-log-in"></span> LOGIN</a></li>
              {{/if}}
            </ul>
        </div>
    </nav>
<br/>
<br/>
<br/>
<br/>
<div class="container">
    <div style="text-align: center;">
        <img src="uploads/music.jpg" style="width:auto; height:300px;" alt="Description of image">
    </div>
    <div>
        <h1 style="text-align: center;">Auckland used musical instruments  </h1>
    <h1>  <span class="labelButton" onclick="goNewArticle()"><button>PUBLISH A NEW ARTICLE</button></span></h1>
    <div>
    {{#if user}}
    <span class="labelArticleSelect" onclick="searchMyArticles()">[MY ARTICLES]</span>
    <span class="labelArticleSelect" onclick="searchAllArticles()">[ALL ARTICLES]</span>
    {{/if}}
    <div id="orderBy">
      ORDER BY:
      <input onclick="sort1()" type="radio" id="orderby1" name="orderby" value="Title">Title
      <input onclick="sort2()" type="radio" id="orderby2" name="orderby" value="CreatedTime">CreatedTime
      <input onclick="sort3()" type="radio" id="orderby3" name="orderby" value="UserName">UserName
    </div>
    </div>
    {{#if articles}}
            <ul id="articleList">
                {{#each articles}}
                    <li>
                        <p><span class ="articleTitle" onclick="goDetails({{this.Id}})">{{this.Title}}</span>
                        {{#if this.isMine}}
                        <a  class ="labelOperation" onclick="goEditArticle({{this.Id}})">[EDIT]</a>&nbsp;
                        <a  class ="labelOperation" onclick="goDeleteArticle({{this.Id}})">[DELETE]</a>&nbsp;
                        {{/if}}
                        <br/>
                        <span>{{this.CreatedTime}}</span>
                         -PUBLISHER: <span>{{this.UserName}}</span>
                         -HITS: {{this.Hits}} -COMMENTS: {{this.Comments}}
                        </p >
                    </li>
                {{/each}}
            </ul>
        {{else}}
            <p>No messages received.</p >
        {{/if}}
    </div>
    <div>
        <table id="table"></table>
    </div>






</div>

<script>

function searchMyArticles(){
    console.log('search my articles ');
    this.location = "/myArticles";
}

function searchAllArticles(){
    this.location = "/allArticles";
}

function goDeleteArticle(id){
    this.location = "/articleDelete?id="+id;
}
function goEditArticle(id){
    this.location = "/articleEdit?id="+id;
}
function goDetails(id){
    this.location = "/articleDetails?id="+id;
}
function goNewArticle(){
    this.location = "/newArticle";
}
function sort1(){
  const ul = document.getElementById('articleList');
  const lis = Array.from(ul.querySelectorAll('li'));
  // 排序
  lis.sort((a, b) => {
    const titleA = a.querySelector('span:first-child').textContent;
    const titleB = b.querySelector('span:first-child').textContent;//.innerHtml;//
    //console.log(titleA);
    //console.log(titleB);
    return titleA.localeCompare(titleB);//titleA > titleB;
  });
  console.log(lis);
  while (ul.firstChild) {
      ul.removeChild(ul.firstChild);
  }
  lis.forEach(li => ul.appendChild(li));
}


function sort2(){
  const ul = document.getElementById('articleList');
  const lis = Array.from(ul.querySelectorAll('li'));
  // 排序
  lis.sort((a, b) => {
    const timeA = a.querySelector('span:nth-of-type(2)').textContent;
    const timeB = b.querySelector('span:nth-of-type(2)').textContent;
    //console.log(timeA);
    //console.log(timeB);
    return timeA.localeCompare(timeB);//timeA > timeB;
  });
  console.log(lis);
  while (ul.firstChild) {
      ul.removeChild(ul.firstChild);
  }
  lis.forEach(li => ul.appendChild(li));
}


function sort3(){
  const ul = document.getElementById('articleList');
  const lis = Array.from(ul.querySelectorAll('li'));
  // 排序
  lis.sort((a, b) => {
    const userA = a.querySelector('span:last-child').textContent;
    const userB = b.querySelector('span:last-child').textContent;
    //console.log(userA);
    //console.log(userB);
    return userA.localeCompare(userB);//userA > userB;
  });
  console.log(lis);
  while (ul.firstChild) {
      ul.removeChild(ul.firstChild);
  }
  lis.forEach(li => ul.appendChild(li));
}
</script>