

<div id="navibar">
    <div id="left-box">
        <!-- Content for left box -->
        <ul class="nav navbar-nav">-->
            <li ><a href="/">Home <span class="sr-only">(current)</span></a></li>
            <li ><a href="/login">Login</a></li>
            <li ><a href="/new-account">new-account</a></li>
        </ul>
    </div>
    <div id="right-box">
        <!-- Content for right box -->
        <ul class="nav navbar-nav">-->

            <li ><a href="/account_management">Account-management</a></li>

        </ul>
    </div>
</div>



<div class="container">

    <h1>Hello, {{user.name}}!</h1>
    <p>This is your homepage!</p>
    <p>Click <a href="./logout">here</a> to log out.</p>


    {{#if successMessage}}
        <p class="success-message">{{successMessage}}</p>
    {{/if}}
    {{#if errorMessage}}
        <p class="error-message">{{errorMessage}}</p>
    {{/if}}

    <!-- Form for sending messages -->
    {{!--     <form action="/send-message" method="post"> --}}
    {{!--         <div class="flex-col mb"> --}}
    {{!--             <label for="txtReceiverUsername">Receiver Username:</label> --}}
    {{!--             <input type="text" name="receiverUsername" id="txtReceiverUsername" required> --}}
    {{!--         </div> --}}

    {{!--         <div class="flex-col mb"> --}}
    {{!--             <label for="txtMessageContent">Message Content:</label> --}}
    {{!--             <textarea name="content" id="txtMessageContent" required></textarea> --}}
    {{!--         </div> --}}

    {{!--         <div class="flex-row justify-sb align-center"> --}}
    {{!--             <button type="submit">Send Message</button> --}}
    {{!--         </div> --}}
    {{!--     </form> --}}



    {{#if messages}}
        <ul>
            {{#each messages}}
                <li>
                    <p>Timestamp: {{this.sent_at}}</p >
                    <p>Sender: {{this.sender}}</p >
                    <p>Content: {{this.content}}</p >
                </li>
            {{/each}}
        </ul>
    {{else}}
        <p>No messages received.</p >
    {{/if}}

    <div>
        <h1>ARTICLES    <span class="labelButton" onclick="goNewArticle()">[PUBLISH A NEW ARTICLE]</span></h1>
        {{#if articles}}
            <ul>
                {{#each articles}}
                    <li>
                        <p><span class = "articleTitle" onclick="goDetails({{this.Id}})">{{this.Title}}</span> <br/>{{this.CreatedTime}} -PUBLISHER: {{this.UserName}}  -HITS: {{this.Hits}} -COMMENTS: {{this.Comments}}</p >
                    </li>
                {{/each}}
            </ul>
        {{else}}
            <p>No messages received.</p >
        {{/if}}
    </div>
    <div>
        <span class="publishNew" onclick="goNewArticle()">[PUBLISH A NEW ARTICLE]</span>
    </div>






</div>

<script>
    function goDetails(id){
        this.location = "/articleDetails?id="+id;
    }
    function goNewArticle(){
        this.location = "/newArticle";
    }
</script>